# Global code owners
* @VuToV-Mykola

# Extension core files
extension.js @VuToV-Mykola
package.json @VuToV-Mykola

# Module files
modules/ @VuToV-Mykola

# Documentation
README.md @VuToV-Mykola
CHANGELOG.md @VuToV-Mykola
CONTRIBUTING.md @VuToV-Mykola

# GitHub workflows
.github/ @VuToV-Mykola