.vscode/**
.vscode-test/**
.gitignore
.github/**
node_modules/**
*.vsix
**/*.map
.nyc_output
coverage
**/.eslintrc.json
**/*.md
!README.md
!LICENSE.md
assets/db/**
assets/WORKFLOW_MIGRATION_GUIDE.md
templates/**
css/**
index.html
.prettierrc.json
.stylelintrc.json